@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}
:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
  /* Light theme */
    --bg: #f9f9f9;
    --border: rgba(0, 0, 0, 0.08);
  --surface: rgba(255, 255, 255, 0.08); /* gray-50 */
  --blur: 20px; /* backdrop blur */
  --text-primary: #0f172a; /* slate-900 */
  --text-secondary: #64748b; /* slate-500 */
  --border-color: #e5e5e5; /* gray-200 */
  --glass-bg: rgba(255, 255, 255, 0.6); /* glassmorphism effect */
  --main-bg: #ffffff;
  --cards-bg: #f1f1f1; /* gray-100 */
  --inside-card-bg: #ebecec;
  --light-text: #6b6b6b;
  --hover-bg: #f1f1f1;
  --high-priority-color: #dc2626; /* red-600 */
  --violet-text:#7C3AED; /* violet-600 */
  --violet-hover-bg: #ece9fd; /* violet-50 */
  --black-overlay: rgba(0, 0, 0, 0.4);

   /* Sidebar items*/
  --sidebar-bg-color: #c0a1fa;
  --sidebar-links-color: #444343;
  --sidebar-links-hover:#d3bbfd;
}
html.dark{
  /* Dark theme overrides */
  --bg: #2e2d2d;
  --surface: #303030; /* gray-900 */
  --border: rgba(255, 255, 255, 0.1);
  --glass-bg: rgba(255, 255, 255, 0.08); /* glassmorphism effect */
  --blur: 10px; /* backdrop blur */
  --text-primary: #f3f4f6; /* gray-100 */
  --text-secondary: #9ca3af; /* gray-400 */
  --border-color: #374151; /* gray-700 */
  
  --cards-bg: rgba(255, 255, 255, 0.06); /* gray-800 */
  --inside-card-bg: rgba(255, 255, 255, 0.07);
  --light-text: #bbbbbb;
  --hover-bg: #414040;
  --high-priority-color: #f36e6e; /* red-400 */
  --violet-text:#a78bfa; /* violet-400 */
  --violet-hover-bg: #a08ebe; /* violet-800 */
  --black-overlay: rgba(0, 0, 0, 0.7);

  /* Sidebar items*/
  --sidebar-bg-color: rgb(137, 100, 204);
  --sidebar-links-color: #ebebeb;
  --sidebar-links-hover:rgb(163, 130, 223);
}
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px; /* scrollbar width */
  height: 6px; /* scrollbar height (for horizontal) */
}

::-webkit-scrollbar-thumb {
  background-color: #a78bfa; /* violet-400 */
  border-radius: 9999px; /* round edges */
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* gray-100 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}


h1, h2, h3, .logo {
  font-family: var(--font-heading);
}

body, p, span, button, input {
  font-family: var(--font-body);
}
.rdp-root {
  --rdp-accent-color: #8b5cf6; 
  --rdp-accent-background-color: #f0f0f0; 
}


@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes scaleIn { from { transform: scale(0.95); opacity: 0; } to { transform: scale(1); opacity: 1; } }
.animate-fadeIn { animation: fadeIn 0.2s ease-out; }
.animate-scaleIn { animation: scaleIn 0.2s ease-out; }
