@import "tailwindcss";
body{
  background-color: #ffffff;
}
:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

h1, h2, h3, .logo {
  font-family: var(--font-heading);
}

body, p, span, button, input {
  font-family: var(--font-body);
}
