@import "tailwindcss";
body{
  background-color: #ffffff;
}
:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px; /* scrollbar width */
  height: 6px; /* scrollbar height (for horizontal) */
}

::-webkit-scrollbar-thumb {
  background-color: #a78bfa; /* violet-400 */
  border-radius: 9999px; /* round edges */
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* gray-100 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}


h1, h2, h3, .logo {
  font-family: var(--font-heading);
}

body, p, span, button, input {
  font-family: var(--font-body);
}
.rdp-root {
  --rdp-accent-color: #8b5cf6; 
  --rdp-accent-background-color: #f0f0f0; 
}


